<div class="card mb-3">
    <img class="card-img-top" src="{{image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{brand}}</h5>
        <p class="card-text">{{title}}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">{{ingredientList}} </small>
    </div>
    <div class="card-footer">
        {{#each badges}}
        <span class="badge badge-success">{{this}}</span>
        {{/each}}
    </div>
</div>